html {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5;
}
img {
  width: 150px;
  height: 150px;
}
h1 {
  margin-bottom: 50px;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.box {
  display: flex;
  /* margin-bottom: 60px; */
}
/* .column {
  flex: 33.33%;
} */
.column p {
  text-align: justify;
  padding: 0 40px;
}

.imageBox {
  float: left;
  padding: 0 15px;
}
.imageBox1 {
  float: right;
  padding: 0 15px;
}
hr {
  border: 1px solid black;
}
.column1 p {
  text-align: justify;
  padding: 0 40px;
}
.text {
  text-align: center;
}
.about p {
  text-align: center;
}

@media (max-width: 600px) {
  img {
    width: 200px;
    height: 200px;
  }
  .box {
    flex-direction: column;
  }
  .imageBox {
    float: none;
    padding-left: 100px;
  }
  .imageBox1 {
    float: none;
    padding-left: 100px;
  }
}
